.DS_STORE

# pyCharm
# .idea/  папка, содержащая служебные файлы среды PyCharm, которые не нужны для отслеживания в репозитории
# build/  папка, в которой могут быть размещены временные файлы и папки, созданные в процессе сборки проекта.
# dist/  папка, содержащая размещенные файлы проекта (например, .apk для Android-приложений или .exe для Windows-приложений).
# venv/  виртуальное окружение
.idea/
__pycache__/
build/
dist/

# переменные окружения, секретные данные, ключи
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# логи
app.log
myapp.log

